apiVersion: hlf.kungfusoftware.es/v1alpha1
kind: FabricFollowerChannel
metadata:
  name: {{ metadata_name }}
spec:
  anchorPeers:
    {% for anchor_peer in anchor_peers %}
    - host: {{ anchor_peer.host }}
      port: {{ anchor_peer.port }}
    {% endfor %}
  hlfIdentity:
    secretKey: {{ hlf_identity.secretKey }}
    secretName: {{ hlf_identity.secretName }}
    secretNamespace: {{ hlf_identity.secretNamespace }}
  mspId: {{ msp_id }}
  name: {{ channel_name }}
  externalPeersToJoin: []
  orderers:
    {% for orderer in orderers %}
    - certificate: |-
        {{ orderer.certificate }}
      url: {{ orderer.url }}
    {% endfor %}
  peersToJoin:
    {% for peer in peers_to_join %}
    - name: {{ peer.name }}
      namespace: {{ peer.namespace }}
    {% endfor %}
