{% macro remove_initial_tabs(line) %}
{{ line | replace('    ', '', 4) }}
{% endmacro %}
apiVersion: hlf.kungfusoftware.es/v1alpha1
kind: FabricMainChannel
metadata:
  name: {{ metadata_name }}
spec:
  name: {{ spec_name }}
  adminOrdererOrganizations:
    {% for admin_orderer_org in admin_orderer_orgs -%}
      - mspID: {{ admin_orderer_org.mspid }}
    {% endfor %}

  adminPeerOrganizations:
    {% for admin_peer_org in admin_peer_orgs -%}
      - mspID: {{ admin_peer_org.mspid }}
    {% endfor %}

  channelConfig:
    application:
      acls: null
      capabilities:
        - V2_0
      policies: null
    capabilities:
      - V2_0
    orderer:
      batchSize:
        absoluteMaxBytes: 1048576
        maxMessageCount: 10
        preferredMaxBytes: 524288
      batchTimeout: 2s
      capabilities:
        - V2_0
      etcdRaft:
        options:
          electionTick: 10
          heartbeatTick: 1
          maxInflightBlocks: 5
          snapshotIntervalSize: 16777216
          tickInterval: 500ms
      ordererType: etcdraft
      policies: null
      state: STATE_NORMAL
    policies: null
  externalOrdererOrganizations: []
  peerOrganizations:
    {% for peer_org in peer_orgs -%}
    - mspID: {{ peer_org.mspid }}
      caName: "{{ peer_org.caname }}"
      caNamespace: "{{ peer_org.canamespace }}"
    {% endfor %}

  identities:
    {% for identity in identities -%}

    {{ identity.mspid }}:
      secretKey: {{ identity.secretkey }}
      secretName: {{ identity.secretname }}
      secretNamespace: {{ identity.secretnamespace }}
    {% endfor %}

  externalPeerOrganizations: []
  ordererOrganizations:
{% for orderer_org in networkConfig.ordererOrganisations %}
  - caName: "{{ orderer_org.certificateAuthorities[0].name }}"
    caNamespace: "default"
    externalOrderersToJoin:
      {% for orderer in orderer_org.orderers -%}
        - host: {{ orderer.name }}
        port: {{ orderer.externalport }}
      {% endfor %}

    mspID: {{ orderer_org.mspid }}
    ordererEndpoints:
      {% for orderer in orderer_org.orderers -%}
        - {{ orderer.endpoint }}
      {% endfor %}

    orderersToJoin: []
{% endfor %}
  orderers:
    {% for orderer in orderers -%}
      - host: {{ orderer.host }}
      port: {{ orderer.port }}
      tlsCert: |-
        {{ remove_initial_tabs('        ' ~ orderer.tlscert) }}
    {% endfor %}
